.miner {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 250px;
  height: 250px;
}

.miner-row {
  display: flex;
}
.miner-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin: 2px;
  background: rgba(211,211,211, 0.6);
  border: 1px solid black;
  border-radius: 5px ;
}